body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    border-top: 1px solid; 
    height: 100vh;
    background-color: #c0b3b3;

}
.vl {
    border-left: 1px solid;
    height: 500vh;
    position: absolute;
    left: 5%;
    margin-left: -3px;
    top: 0;
    border-right: 1px solid;
    height: 500vh;
    position: absolute;
    right: 5%;
    margin-right: -3px;
    
  }
.img{
    height: auto;
    
  }


  .container {
    width: 200px;
    height: 200px;
    perspective: 1000px;
    margin: 350px auto 0;
  }
  .cube {
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(0deg, rgba(70,70,70, 0.2) 0px, rgba(70,70,70, 0.2) 1px,transparent 1px, transparent 21px),repeating-linear-gradient(90deg, rgba(70,70,70, 0.2) 0px, rgba(70,70,70, 0.2) 1px,transparent 1px, transparent 21px),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
  }
  .top {
    transform: rotateX(90deg) translateZ(100px);
  }
  .bottom {
    transform: rotateX(-90deg) translateZ(100px);
  }
  
  .right {
    transform: rotateY(90deg) translateZ(100px);
  }
  .left {
    transform: rotateY(-90deg) translateZ(100px);
  }
  
  .front {
    transform: rotateX(0deg) translateZ(100px);
  }
  .back {
    transform: rotateX(-180deg) translateZ(100px);
  }
  @keyframes spin {
    from {
      transform: rotateX(0deg) rotateY(0deg);
    }
    to {
      transform: rotateX(360deg) rotateY(360deg);
    }
  }
  .cube {
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    position: relative;
    animation: spin 7s infinite linear;
  }
  
  .flex{
      display: flex;

  }
  .input{
      text-align: center;
      padding-top: 150rem;
  }
  
